body {
    font-family: sans-serif;
}

header {
    background-color: lightgreen;
    padding: 20px;
}

header a {
  color: darkgreen;
  background-color: white;
  padding: 5px;
  margin: 20px;
  border: 1px solid #1aa376;
  border-radius: 15px;
}
